.order-comment-label {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  display: flex;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: #e7e7e7;
}

.order-comment-input-wrapper {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 21px;
}

.order-comment-input-container {
  position: relative;
  margin-top: 10px;
}

.order-comment-input-lable {
  position: absolute;
  top: -10px;
  left: 4px;
  padding: 0 8px;
  background: #ffffff;
  color: #828282;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.order-comment-input {
  width: 100%;
  height: 44px;
  border-radius: 4px;
  border: 1px solid #b2bcca;
  background: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
}

.order-comment-input:focus-visible {
  border: 1px solid #b2bcca;
  outline: none;
}

.order-comment-submit {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  background: #024f60;
  box-shadow: 0px 4px 4px 0px rgba(2, 79, 96, 0.16);
  color: var(--Grey-Grey-1, #f6f6f6);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  padding: 10px 12px;
}

.order-comment-submit:disabled {
  background: #b2bcca;
}
