.sign-up-modal-body {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.sign-up-modal-title-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.sign-up-modal-body-wrapper {
  display: flex;
  flex-direction: row;
}

.sign-up-modal-form-wrapper {
  max-width: 420px;
  width: 54%;
  padding: 2rem;
}

.sign-up-modal-header {
  display: none;
}

.sign-up-modal-title {
  color: #06353e;
  font-size: 26px;
  font-weight: 400;
}

.sign-up-modal-description {
  font-size: 18px;
  font-weight: 400;
  color: #115f6d;
}

.sign-up-modal-form-wrapper
  .checkout-form
  .form-fieldset
  .form-body
  .create-account-form
  .dynamic-form-field--firstName {
  flex-basis: 100%;
}

.sign-up-modal-form-wrapper
  .checkout-form
  .form-fieldset
  .form-body
  .create-account-form
  .dynamic-form-field {
  padding-top: 10px;
}

.sign-up-modal-form-wrapper
  .checkout-form
  .form-fieldset
  .form-body
  .create-account-form
  .dynamic-form-field--lastName {
  flex-basis: 100%;
}

.sign-up-modal-form-wrapper
  .checkout-form
  .form-fieldset
  .form-body
  .create-account-form
  .form-field {
  position: relative;
}

.sign-up-modal-form-wrapper
  .checkout-form
  .form-fieldset
  .form-body
  .create-account-form
  .optimizedCheckout-form-label {
  position: absolute;
  top: -10px;
  left: 4px;
  background: #ffffff;
  padding-left: 2px;
  padding-right: 2px;
}

.sign-up-modal-image-wrapper {
  position: relative;
  width: 46%;
}

.sign-up-modal-close {
  position: absolute;
  top: 8px;
  padding: unset;
  height: 32px;
  width: 32px;
  border: 1px solid #b2bcca;
  right: 8px;
}

.sign-up-modal-image {
  height: 582px;
  width: 348px;
}

.sign-up-modal-body-wrapper .checkout-form {
  margin-left: 0;
}

.checkout-steps {
  padding-right: 0;
}

.checkout-order-review {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.14);
}

.checkout-cart-summary {
  width: 100%;
  max-width: 412px;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

.checkout-cart-summary-title {
  display: flex;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: #e7e7e7;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.checkout-discount-wrapper,
.checkout-order-wrapper,
.checkout-billing-summary-wrapper {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.14);
}

.checkout-step--payment .form-checklist-checkbox:checked ~ .form-label::before {
  border-color: #024f60;
}

.checkout-step--payment .form-checklist-checkbox:checked ~ .form-label::after {
  background-color: #024f60;
}

.checkout-step--payment .form-checklist-checkbox ~ .form-label::before {
  width: 1rem;
  height: 1rem;
}

.checkout-step--payment .form-checklist-checkbox ~ .form-label::after {
  width: 1rem;
  height: 1rem;
}

.checkout-step--payment #checkout-payment-continue {
  display: none;
}

.checkout-step--payment .creditCardTypes-list {
  max-width: unset;
}

.checkout-step--payment .form-checklist-item--selected .form-checklist-body {
  margin-left: 0;
  margin-right: 0;
  padding-left: 2rem;
  padding-right: 2rem;
}
