.checkout-customer-login-form .form-fieldset .form-body .form-legend-container > span > a {
  color: #024f60 !important;
  // background-color: #024f60;
}

.checkout-customer-login-form .form-actions {
  display: flex;
}

@media screen and (max-width: 480px) {
  .checkout-customer-login-form .form-actions {
    column-gap: 1rem;
    justify-content: flex-end;
  }

  .checkout-customer-login-form .form-actions .optimizedCheckout-buttonPrimary {
    // flex-direction: column;
    max-width: 150px;
  }

  .checkout-customer-login-form .form-actions .optimizedCheckout-buttonSecondary {
    max-width: 150px;
  }
}
