.billing-summary-label {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  border-radius: 4px 4px 0px 0px;
  border-top: 1px solid #edeff8;
  border-right: 1px solid #edeff8;
  border-left: 1px solid #edeff8;
  background: #e7e7e7;
  padding: 24px;
}

.billing-summary-body {
  padding: 22px 13px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.billing-summary-billing-detail-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.billing-summary-subtotla-section,
.billing-summary-discount-section,
.billing-summary-shipping-section,
.billing-summary-tax-section,
.billing-summary-grand-total-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.billing-summary-grand-total-section {
  padding-top: 18px;
  border-top: 1px solid #e0e0e0;
}

.billing-summary-subtotla,
.billing-summary-discount,
.billing-summary-shipping,
.billing-summary-tax {
  color: var(--Dark-Dark-3, #4f4f4f);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.billing-summary-subtotla-value,
.billing-summary-discount-value,
.billing-summary-shipping-value,
.billing-summary-tax-value {
  color: var(--Dark-Dark-3, #4f4f4f);
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.16px;
}

.billing-summary-grand-total {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.billing-summary-grand-total-value {
  color: #024f60;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.billing-summary-payment-button {
  border-radius: 6px;
  background: #024f60;
  box-shadow: 0px 4px 4px 0px rgba(2, 79, 96, 0.16);
  color: var(--Grey-Grey-1, #f6f6f6);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 100%;
  height: 50px;
}

.billing-summary-payment-button:hover {
  opacity: 0.9;
}

.billing-summary-payment-button:disabled {
  background-color: rgba(2, 79, 96, 0.5);
}

.billing-summary-payment-button-section {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.billing-summary-privacy-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.billing-summary-privacy-label {
  color: var(--Dark-Dark-3, #4f4f4f);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.billing-summary-privacy-policy-link {
  color: #177a90;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

.billing-summary-policy-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.billing-summary-shipping-policy,
.billing-summary-return-policy {
  color: #216574;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
}
