.breadCrumbContainer {
  width: 100%;
  margin: 0 auto;
  max-width: 92.3076923077rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.breadCrumbWrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: 100%;
  height: 16px;
  background-color: #fff;
  align-items: center;
  justify-content: flex-start;
  max-width: 89rem;
  margin: 0 auto;
  color: #b6bac2;
}

.breadCrumbIcon {
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.breadCrumbText:last-child {
  color: #024f60;
}

.breadCrumbTextLink,
.breadCrumbTextLink:hover {
  text-decoration: none;
  color: #b6bac2;
}
