.loadingOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingOverlaySpinner {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: 9px solid;
  border-color: #d9d9d9;
  border-right-color: #024f60;
  animation: spinner-d3wgkg 1s infinite linear;
}

@keyframes spinner-d3wgkg {
  to {
    transform: rotate(1turn);
  }
}
