.checkout-cart-summary-line-item {
  display: flex;
  flex-direction: row;
  column-gap: 0.75rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #e0e0e0;
}

.checkout-cart-summary-line-item:last-child {
  border-bottom: 0;
}

.checkout-cart-summary-detaile-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.checkout-cart-summary-image-container {
  width: 5rem;
  height: 5rem;
}

.checkout-cart-summary-image {
  width: 80px;
  height: 80px;
}

.checkout-cart-summary-product-name-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.checkout-cart-summary-product-name {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.checkout-cart-summary-product-price-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.checkout-cart-summary-product-quantity > span {
  display: flex;
}

.checkout-cart-summary-product-quantity-value,
.checkout-cart-summary-product-quantity-unit {
  margin-bottom: 0;
}

.checkout-cart-summary-product-price {
  color: #024f60;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
